<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
       <form action="/admin/allUsers" method="get">

        <table>
            <tr>
                <td>name</td>
                <td>Project</td>
                <td>Age</td>
                <td>password</td>
                <td>city</td>
                <td>salary</td>
            </tr>
              <% for(var i=0; i < result.length; i++) { %>
                 <tr>
                   <td><%= result[i].name %></td>
                   <td><%= result[i].project %></td>
                   <td><%= result[i].age %></td>
                   <td><%= result[i].password %></td>
                   <td><%= result[i].city %></td>
                   <td><%= result[i].salary %></td>
                 </tr>
              <% } %>
       </table>

       </form> 
        

</body>
</html>